<div [ngSwitch]="internalView">
  <app-login-form
    *ngSwitchCase="'login-form'"
    (signInEmitter)="signIn($event)"
    (navigateToForgotPasswordFormEmitter)="updateLoginView($event)"
    (cancelLoginEmitter)="cancelLogin()"
  ></app-login-form>
  <app-create-new-account-form
    *ngSwitchCase="'create-new-account-form'"
    (cancelCreatingNewAccountEmitter)="updateLoginView($event)"
  ></app-create-new-account-form>
  <app-forgot-password-form
    *ngSwitchCase="'forgot-password-form'"
  ></app-forgot-password-form>
</div>
