
      <div
        *ngIf="
          internalView === 'vacancies-list';
          then getVacanciesList;
          else createNewVacancyForm
        "
      ></div>

      <ng-template #getVacanciesList>
        <app-vacancies-list
          (createNewVacancyEmitter)="updateVacancyView($event)"
        ></app-vacancies-list>
      </ng-template>
      <ng-template #createNewVacancyForm>
        <app-create-new-vacancy-form
          (cancelCreatingNewVacancyEmitter)="updateVacancyView($event)"
        ></app-create-new-vacancy-form>
      </ng-template>

