<br>
<div class="container text-center">
  <div class="row">
    <div class="col">
    </div>
    <div class="col">
      <div class="mb-3">
        <label for="Volume" class="form-label">Volume</label>
        <input class="form-control" type="number" id="Volume" placeholder="10" (input)="onVolumeChange($event)">
      </div>
      <div class="mb-3">
        <label for="Expiration Date" class="form-label">Expiration Date</label>
        <input class="form-control" type="date" id="Expiration Date" placeholder="12/25/2024" (input)="onExpirationDateChange($event)">
      </div>
    </div>
    <div class="col">
    </div>
  </div>
</div>
