button {
  margin: 0.2rem;
}

.inline-buttons {
  display: flex;
  white-space: nowrap;
  justify-content: center;
}

hr {
  text-align: center;
  justify-self: center;
  margin-left: 5% !important;
}

.form-group {
  margin-bottom: 0.5rem;
}
