<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <br />
      <form
        #loginForm="ngForm"
        (ngSubmit)="onSubmit(loginForm)"
        ngNativeValidate
      >
        <div class="form-group">
          <label for="email-or-username" class="form-label"
            >Email or Username</label
          >
          <input
            class="form-control"
            type="email"
            id="email-or-username"
            name="email-or-username"
            placeholder="user@paysky.com"
            autocomplete="username"
            [(ngModel)]="username"
            required
          />
        </div>
        <div class="form-group">
          <label for="current-password" class="form-label">Password</label>
          <input
            class="form-control"
            type="password"
            id="current-password"
            name="current-password"
            placeholder="Password"
            autocomplete="current-password"
            [(ngModel)]="password"
            required
          />
        </div>
        <div class="form-group">
          <label class="form-check-label" id="remember-me"
            ><input type="checkbox" id="remember-me" /> Remember me</label
          >
        </div>
        <br />
        <div class="col text-center">
          <button
            type="submit"
            class="btn btn-primary"
            aria-placeholder="Submit"
          >
            Sign in
          </button>
          <button
            type="button"
            class="btn btn-primary"
            (click)="navigateToForgotPasswordForm()"
            aria-placeholder="Forgot password"
          >
            Forgot password
          </button>
          <hr />
          <button type="button" class="btn btn-success">Sign up</button>
        </div>
      </form>
    </div>
    <div class="col-2"></div>
  </div>
</div>
