<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col-6">
      <form>
        <div class="row">
          <div class="form-group">
            <label for="inputEmail">Email or Username</label>
            <input
              type="text"
              class="form-control"
              id="inputEmailOrUsername"
              placeholder="user@paysky.com"
            />
          </div>
          <div class="form-group">
            <label for="inputPassword">Password</label>
            <input
              type="password"
              class="form-control"
              id="inputPassword"
              placeholder="Password"
            />
          </div>
          <div class="form-group">
            <label class="form-check-label"
              ><input type="checkbox" /> Remember me</label
            >
          </div>
          <br />
          <br />
          <div class="row">
            <div class="container">
              <div class="inline-buttons">
                <button type="submit" class="btn btn-primary">Sign in</button>
                <button type="button" class="btn btn-primary">
                  Forgot password
                </button>
              </div>
              <hr />
              <div class="inline-buttons">
                <button type="button" class="btn btn-success">Sign up</button>
                <button type="button" class="btn btn-danger">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col"></div>
  </div>
</div>
